hr.content-divider{
  background: url('/static/images/pokeballs/pixelball.png') no-repeat top center;
  background-size: contain;
  display: block;
  height: 30px;
  border:0;
  position: relative;
}
hr.content-divider::before,
hr.content-divider::after{
  content: '';
  display: block;
  position: absolute;
  background: #696969;
  background: -webkit-linear-gradient(#696969 1px, #FFFFFF 2px, #696969 1px);
  background: -o-linear-gradient(#696969 1px, #FFFFFF 2px, #696969 1px);
  background: -moz-linear-gradient(#696969 1px, #FFFFFF 2px, #696969 1px);
  background: linear-gradient(#696969 1px, #FFFFFF 2px, #696969 1px);
  top: 15px;
  height: 3px;
}
hr.content-divider::before{
  left: 0;
  right: 50%;
  margin-right: 20px;
}
hr.content-divider::after{
  right: 0;
  left: 50%;
  margin-left: 20px;
}


.content-section {
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 50px;
}

.content-section p {
  font-size: 18px;
}

.img-bracket {
  width: 100%;
  height: 750px;
  overflow-y: scroll;
}

.img-calendar {
  scrolling: no;
  max-width: 50%;
  height: auto;
}

.img-header {
  max-width: 50%;
}

.list-box {
  overflow-y: scroll;
  height: 500px;
  width: auto;
}

@media(max-width:991px) {
  .img-calendar {
    scrolling: no;
    width: 100%;
    height: auto;
  }
}
