hr.content-divider {
  border-top: 4px double #FFFFFF;
  text-align: center;
}

hr.content-divider::after {
  content: url(/static/images/pokeballs/pixelball.png);
  height:10px;
  display: inline-block;
  position: relative;
  top: -15px;
	padding: 0 10px;
	background: #FFFFFF;
	font-size: 18px;
}

.content-section {
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 50px;
}

.img-bracket {
  width: 100%;
  height: 750px;
  overflow-y: scroll;
}

.img-calendar {
  scrolling: no;
  max-width: 50%;
  height: auto;
}

.img-header {
  max-width: 50%;
}

.list-box {
  overflow-y: scroll;
  height: 500px;
  width: auto;
}

@media(max-width:991px) {
  .img-calendar {
    scrolling: no;
    width: 100%;
    height: auto;
  }
}
