hr.content-divider{
    background: url('/static/images/pokeballs/pixelball.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 18px;
    border: 0;
    position: relative;
}
hr.content-divider:before,
hr.content-divider:after {
    content: '';
    display: block;
    position: absolute;
    background: #d7d7d7;
    height: 2px;
    top: 8px;
}
hr.content-divider:before {
    left: 0;
    right: 50%;
    margin-right: 10px;
}
hr.content-divider:after {
    right: 0;
    left: 50%;
    margin-left: 10px;
}

.content-section {
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 50px;
}

.img-bracket {
  width: 100%;
  height: 750px;
  overflow-y: scroll;
}

.img-calendar {
  scrolling: no;
  max-width: 50%;
  height: auto;
}

.img-header {
  max-width: 50%;
}

.list-box {
  overflow-y: scroll;
  height: 500px;
  width: auto;
}

@media(max-width:991px) {
  .img-calendar {
    scrolling: no;
    width: 100%;
    height: auto;
  }
}
