<!DOCTYPE html>
<html>
  {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
    <header>
      <img src="/static/images/homeBanner.png">
    </header>
    <div class="container">

      <hr class="content-divider">

      <!-- About Us Section -->
      <div class="content-section" id="about">
        <h1 class="text-center">Become A Fellow Champion, <a href="<!-- TODO -->">Join Us!</a></h1>
        <p>This club draws on nostalgia and is a growing community that is welcoming to all who share the same interest, or are just beginning to share that interest! Pokemon Club is new to Campus as of Spring 2015, but it is undeniable that this club provides its members with a sense of community outside of their rooms and outside of their jobs. Come join us at club, make new friends, rivals, and discover what it is like to be a part of our growing community. Remember, anyone can join, and there are no member fees! <a href="<!-- TODO -->">Sign up here!</a> You can also buy our Club T-shirt <a href="https://www.teepublic.com/show/372613-pokemon-club-t-shirt-2016">here!</a></p>
        <img class="img-responsive img-circle img-half" alt="Pokeball" src="/static/images/pokeballs/pokeball0.png">
      </div>

      <hr class="content-divider">

      <!-- Events Section -->
      <div class="content-section" id="events">
        <h1 class="text-center">Check Out this Semester's Events!</h1>
        <div class="calendar-container"><iframe src="https://calendar.google.com/calendar/embed?title=Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=sjsu.edu_1i9qld8i4qgpoovku96u62sdgs%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>
        <p>Every month we will have events prepared for our members. These events include game nights, movie nights, tournaments, and various collaborations. Keep an eye out for our upcoming events- they are available on this calendar.<br><br>More details and information about each event of this month  can be found <a href="https://www.facebook.com/groups/SJSUPKMN/">here</a></p>
      </div>

      <hr class="content-divider">

      <!-- Tournament History Section -->
      <div class="content-section" id="certTrainers">
        <h1 class="text-center">Tournament Results!</h1>
        <img class="img-responsive img-half" src="/static/images/battleStart.gif">
        <div id="results" class="carousel slide" data-ride="carousel">
          <!--<ol class="carousel-indicators">
            {% for t in tournaments %}
              {% if loop.index == 1 %}
            <li data-target="#results" data-slide-to="{{loop.index}}" class="active"></li>
              {% else %}
            <li data-target="#results" data-slide-to="{{loop.index}}"></li>
              {% endif %}
            {% endfor %}
          </ol>-->
          <div class="carousel-inner">
            {% for t in tournaments %}
              {% if loop.index == 1 %}
            <div class="item active">
              <h2>{{t.name}} Tournament Champions</h2><br>
              <h3 class="text-muted">{{t.datetime.month}}/{{t.datetime.day}}/{{t.datetime.year}}</h3><br><br>
              <p>
                First Place: {{t.first}}<br>
                Second Place: {{t.second}}<br>
                Third Place: {{t.third}}<br>
              </p>
            </div>
              {% else %}
            <div class="item">
              <h2>{{t.name}} Tournament Champions</h2><br>
              <h3 class="text-muted">{{t.datetime.month}}/{{t.datetime.day}}/{{t.datetime.year}}</h3><br><br>
              <p>
                First Place: {{t.first}}<br>
                Second Place: {{t.second}}<br>
                Third Place: {{t.third}}<br>
              </p>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <a class="left carousel-control" href="#results" data-slide="prev">
            <span>&#10094;</span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#results" data-slide="next">
            <span>&#10095;</span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <hr class="content-divider">

      <div class="content-section" id="replay">
        <h1 class="text-center">Most Recent Tournament Bracket</h1>
        <iframe src="{{c_link}}" frameborder="10" allowtransparency="true"></iframe>
      </div>

      <hr class="content-divider">

      <div class="content-section" id="regulations">
        <h1 class="text-center">Tournament Regulations!</h1>
        <div class="text-center list-box">
          <p>
            {% for regulation in regulations  %}
            <a href="{{regulation.link}}">{{regulation.title}}</a><br>
            {% endfor %}
          </p>
        </div>
      </div>

      <hr class="content-divider">

      <div class="content-section" id="history">
        <h1 class="text-center">Hall of Fame!</h1>
        <div id="photos" class="pull-right" style="display: inline;">
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/oMudu"><a href="//imgur.com/a/oMudu">SJSU Pokemon Club Website Album</a></blockquote>
          <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </div>

        <div id="hall-of-fame" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for semester in officers %}
              {% if loop.index == 1 %}
            <div class="item active">
              <h2>{{semester[0]}}</h2><br>
              <p>
                {% for officer in semester %}
                  {% if loop.index != 1 %}
                    {{officer.position}}: {{officer.name}}<br>
                  {% endif %}
                {% endfor %}
              </p>
            </div>
              {% else %}
            <div class="item">
              <h2>{{semester[0]}}</h2><br>
              <p>
                {% for officer in semester %}
                {% if loop.index != 1 %}
                {{officer.position}}: {{officer.name}}<br>
                {% endif %}
                {% endfor %}
              </p>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <a class="left carousel-control" href="#hall-of-fame" data-slide="prev">
            <span>&#10094;</span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#hall-of-fame" data-slide="next">
            <span>&#10095;</span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signuplabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <h2>Register</h2>
          <div class="modal-body">
            <form class="form-horizontal" id="signup">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="firstName">First Name:</label>
                  <div class="controls">
                    <input id="firstName" name="firstName" class="form-control" type="text" placeholder="Ash" required>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="lastName">Last Name:</label>
                  <div class="controls">
                    <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Ketchum" required>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="email">Email:</label>
                  <div class="controls">
                    <input id="email" name="email" class="form-control" type="text" placeholder="pokemonpres@gmail.com" required>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="sjsuid">SJSU ID (Use all zeroes if not a student):</label>
                  <div class="controls">
                    <input id="sjsuid" name="sjsuid" class="form-control" type="text" placeholder="000000000" required>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="user">Username:</label>
                  <div class="controls">
                    <input id="user" name="user" class="form-control" type="text" placeholder="MajorIdiocy" required>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="pass">Password:</label>
                  <div class="controls">
                    <input id="pass" name="pass" class="form-control" type="text" placeholder="xXxPASSWORDxXx" required>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="passconfirm">Confirm Password:</label>
                  <div class="controls">
                    <input id="passconfirm" name="passconfirm" class="form-control" type="text" placeholder="xXxPASSWORDxXx" required>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="signupbutton"></label>
                    <div class="controls">
                      <button id="signupbutton" name="signupbutton" class="btn btn-success">Sign Up</button>
                    </div>
                </div>
              </fieldset>
            </form>
          </div>

          <div class="modal-footer">
            <center>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </center>
          </div>
        </div>
      </div>

    </div>
    {% include 'footer.html' %}
  </body>
</html>
